---
import type { CollectionEntry } from "astro:content";
import Badge from "./Badge.astro";

interface Props {
    items: CollectionEntry<'post'>[];
    type: string;
    title?: string
}

const { items, type, title } = Astro.props;
---

<section class="items-start mt-8">
    {title && <Badge href={`/tags/${title}`} title={title}/>}
    <ul class="list-disc list-inside">
        {
            items.map((item) => (
                <li>
                    <a
                        href={`/${type}/${item.slug}`}
                        class="hover:underline text-accent vistited:text-secondary font-serif prose-headings:font-mono"
                    >
                        <b>{item.data.title}</b> {item.data.desc && item.data.desc}
                    </a>
                </li>
            ))
        }
    </ul>
</section>
