---
import Webring from "./Webring.astro"
import { webrings } from "../GLOBALS.astro";
---

<div class="justify-items-end">
    {
        webrings.map((item) => (
            <Webring name={item.name} root={item.root} prev={item.prev} next={item.next} random={item.random}/>
        ))
    }
</div>